<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="/Assets/admin/img/user2-160x160.jpg" alt="">Lukas Nguyen
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Thông tin</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Cài đặt</span>
        </a>
    </li>
    <li>
        <a href="#" id="btnLogOut">
            <span class="fa fa-sign-out pull-right"></span> Đăng xuất
        </a>
    </li>
</ul>