    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm giảng viên
        <!--<small>This is homepage of SPA</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="#">Giảng viên</a></li>
        <li><a ui-sref="lecturers">Danh sách giảng viên</a></li>
        <li class="active">Thêm giảng viên</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">
                Thông tin giảng viên
            </h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <br />
        <form class="form-horizontal" novalidate name="frmAddLecturer" role="form" ng-submit="addLecturer()">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" required id="email" name="email" class="form-control" ng-model="lecturer.Email">
                    <span ng-show="frmAddLecturer.email.$error.required" class="has-error">Vui lòng nhập Email.</span>
                    <span ng-show="frmAddLecturer.email.$error.email" class="has-error">Email không đúng định dạng.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Mật khẩu</label>
                <div class="col-sm-8">
                    <input type="password" required id="password" name="password" class="form-control" ng-model="lecturer.Password">
                    <span ng-show="frmAddLecturer.password.$error.required" class="has-error">Vui lòng nhập mật khẩu.</span>
                </div>
            </div>
            <div class="box box-info"></div>
            <div class="form-group">
                <label for="lecturerName" class="col-sm-2 control-label">Tên giảng viên</label>
                <div class="col-sm-8">
                    <input type="text" required id="lecturerName" name="lecturerName" class="form-control" ng-model="lecturer.Name">
                    <span ng-show="frmAddLecturer.lecturerName.$error.required" class="has-error">Vui lòng nhập tên sinh viên.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-2 control-label">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" required id="phoneNumber" name="phoneNumber" ng-minlength="10" ng-maxlength="11" class="form-control" ng-model="lecturer.Phone">
                    <span ng-show="frmAddLecturer.phoneNumber.$error.required" class="has-error">Vui lòng nhập số điện thoại.</span>
                    <span ng-show="frmAddLecturer.phoneNumber.$error.minlength || frmAddLecturer.phoneNumber.$error.maxlength" class="has-error">Phone Number lengths are between 10 and 11 characters</span>
                </div>
            </div>
            <div class="form-group">
                <label for="facilityId" class="col-sm-2 control-label">Khoa</label>
                <div class="col-sm-8">
                    <select id="facilityId" name="facilityId" ng-model="lecturer.FacilityId" ng-options="option.ID as option.Name for option in facilities">
                        <option value="" style="display: none"></option>
                    </select>
                    <input type="hidden" name="facilityId" ng-model="lecturer.FacilityId" />
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" required id="address" name="address" class="form-control" ng-model="lecturer.Address">
                    <span ng-show="frmAddLecturer.address.$error.required" class="has-error">Vui lòng nhập địa chỉ.</span>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-offset-1 col-sm-9">
                    <button ui-sref="lecturers" class="btn btn-default">Hủy bỏ</button>
                    <button type="submit" ng-disabled="frmAddLecturer.$invalid" class="btn btn-success pull-right">Lưu</button>
                </div><!-- /.box-footer -->
            </div>
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->