    <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm đợt đăng ký đồ án
        <!--<small>This is homepage of SPA</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="#">Đợt đăng ký đồ án</a></li>
        <li><a ui-sref="registrationTimes">Danh sách các đợt</a></li>
        <li class="active">Thêm đợt đăng ký</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">
                Đợt đăng ký đồ án tốt nghiệp
            </h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddRegistrationTime" role="form" ng-submit="addRegistrationTime()">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tên đợt đăng ký</label>
                <div class="col-sm-10">
                    <input type="text" required id="name" name="name" ng-maxlength="256" class="form-control" ng-model="registrationTime.Name">
                    <span ng-show="frmAddRegistrationTime.name.$error.required" class="has-error">Vui lòng nhập tên đợt đăng ký.</span>
                    <span ng-show="frmAddRegistrationTime.name.$error.maxlength" class="has-error">Tên đợt đăng ký chỉ gồm 256 ký tự.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="registeredDate" class="col-sm-2 control-label">Thời gian mở đợt</label>
                <div class="col-sm-10">
                    <input type="date" required id="registeredDate" name="registeredDate" class="form-control" ng-model="RegisteredDate">
                    <span ng-show="frmAddRegistrationTime.registeredDate.$error.required" class="has-error">Vui lòng chọn thời gian mở đợt.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="teacherAssignGradesDate" class="col-sm-2 control-label">Thời gian giảng viên cho điểm</label>
                <div class="col-sm-10">
                    <input type="date" required id="teacherAssignGradesDate" name="teacherAssignGradesDate" class="form-control" ng-model="TeacherAssignGradesDate">
                    <span ng-show="frmAddRegistrationTime.teacherAssignGradesDate.$error.required" class="has-error">Vui lòng chọn thời gian giảng viên cho điểm.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="closedDate" class="col-sm-2 control-label">Thời gian đóng đợt</label>
                <div class="col-sm-10">
                    <input type="date" required id="closedDate" name="closedDate" class="form-control" ng-model="ClosedDate">
                    <span ng-show="frmAddRegistrationTime.closedDate.$error.required" class="has-error">Vui lòng chọn thời gian đóng đợt.</span>
                </div>
            </div>
            <div class="box-footer">
                <button ui-sref="registrationTimes" class="btn btn-default">Hủy bỏ</button>
                <button type="submit" ng-disabled="frmAddRegistrationTime.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->