
<div id="deleteDiplomaProjectModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <strong style="display: none" id="diplomaProjectModalId"></strong>
                <p>Bạn có thực sự muốn xóa đề tài <strong id="diplomaProjectModalName"></strong> không ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnAcceptDeleteDiplomaProject">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>